<template name="payeesAmendForm">
Hello world
<!-- {{#autoForm collection="Payees" id="payeesAmendForm" type="insert"}}
  {{> afQuickField name='accountAddress'}}
  {{> afFieldInput type="noUiSlider" connect="true" step=10 start=50 name="weight" min=0 max=100 step=1 tooltips="true"}}
  {{> afQuickField name='weight'}} -->
  <!-- @todo update weight number when the other changes value -->
  <!-- @todo retrieve and multiple render / add -->
  <!-- @todo this is probably going to have to be custom for retrieving and updating -->
  <!-- consider the module of how it should work in terms of syncing -->
  <!-- {{> afQuickField name='contractBalance'}}
  <button type="submit">Insert</button>
{{/autoForm}} -->
</template>
