<template name="frontPage">
  <div class="splash container text-center">
    <img id="donutSplash" class="splash" src="donut_icon.png">
    <h1>Eth Donut</h1>
    <h2 class="subtitle">Giving a part of the crypto whole</h2>
    <!-- <h3>Buy some donuts to say thankyou!!!</h3> -->
  </div>
  <div class="container col-md-12">
    <div class="row col-md-4"></div>
    <div class="row col-md-5">
      <form id="donutButton">
        <div class="input-group">
          <input placeholder="0x00000000000000000000000000000000000000" pattern="[0-9a-fA-Fx]{42}" id="buttonField" class="form-control" type="text">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" id="">Fetch Donut button</button>
          </span>
        </div>
        <div class="error" id="donutButtonError"></div>
        <p class="help-block">
          Retrieve an html embeddable button allowing users to donate to a contract at the given address.
        </p>
      </form>
          <br/>
        <form id="loginForm">
          <div class="input-group">

            <input placeholder="0x00000000000000000000000000000000000000" pattern="[0-9a-fA-Fx]{42}" name="loginField" id="loginField" class="form-control" type="text">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="loginButton">Login</button>
            </span>
          </div>
          <div class="error" id="loginFormError"></div>
          <p class="help-block">
            Login in to manage an existing contract with you're currently set default. You must be running an Ethereum browser (eg Mist / Metamask) to access the option.
          </p>
        </form>
          <br/>
          <form>
          <fieldset>
            {{> createContractButton }}
            <div data-role="notification"></div>
          </fieldset>
          <p class="help-block">
            Create a new Eth Donut donation contract. You must be running an Ethereum browser - gas will be used from the default account. After clicking please wait a minute for the new contract to be mined.
          </p>
      </form>
      </div>
    </div>
    </template>
