<template name="transferOwner">
  {{> header}}
  <div class="container col-md-12 col-md-push-1">
    <h2>Transfer Ownership</h2>
    <br/>
    <form class="col-md-8" id="transferOwner">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="currentOwner">Current owner</label>
        <div class="col-md-6">
          <input id="currentOwner" class="form-control" type=text value={{getContractOwnerAddress}} disabled=true>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="transferOwnerTo">New owner</label>
        <div class="col-md-6">
          <select id="transferOwnerTo" class="form-control">
            <option>Choose address</option>
            {{#each account in listAccounts}}
            <option>{{ account.address }}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-md-8 form-group row">
        <button class="pull-right btn btn-primary" type="submit">Transfer</button>
      </div>
    </form>

  </div>
  <div class="container col-md-12 col-md-push-1">
    {{> transactionLog}}
  </div>
</template>
